<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context ="http://www.springframework.org/schema/context" 
    xmlns:aop="http://www.springframework.org/schema/aop" 
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/aop 
    http://www.springframework.org/schema/aop/spring-aop.xsd
    http://www.springframework.org/schema/tx 
    http://www.springframework.org/schema/tx/spring-tx.xsd">
    
    <!-- 读取配置文件 -->
    <context:property-placeholder location="classpath*:/application.properties"/>
    
    <!-- Spring IOC 扫描包配置 -->
    <!-- The use of <context:component-scan> implicitly enables the functionality of 
    	 <context:annotation-config>. There is usually no need to include the 
    	 <context:annotation-config> element when using <context:component-scan>. -->
    <context:component-scan base-package="org.teeplay">
    		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>    
    </context:component-scan>
    
    <!-- 数据源配置文件 -->
    <import resource="dataSource.xml"/>
    <!-- 
    <import resource="applicationContext-shiro.xml"/> -->
</beans>