<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
       <property name="cacheManager" ref="shiroEhcacheManager"/>
        <property name="realm" ref="teeplayRealm"/>
    </bean>

    <bean id="teeplayRealm" class="org.teeplay.shiro.TeeplayRealm">
        <property name="name" value="teeplayRealm"/>
        <property name="userService" ref="userService"/>
    </bean>


    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <property name="loginUrl" value="/login"/>
        <property name="successUrl" value="/" />
        <property name="unauthorizedUrl" value="/jsp/login.jsp" />
        <property name="filterChainDefinitions">
            <value>
                # allow WebStart to pull the jars for the swing app:
                /*.jar = anon
                /*.css = anon
                /*.js = anon
                /*.* = anon
                /login = anon
                /regist.jsp = anon
                /logout = logout
                /index.jsp = perms[index:index]
                # everything else requires authentication:
                /** = authc
            </value> 
        </property>
    </bean>
    <!-- 用户授权信息Cache, 采用EhCache -->
	<bean id="shiroEhcacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
		<property name="cacheManagerConfigFile" value="classpath:security/ehcache-shiro.xml"/>
	</bean>
	
	<!-- 保证实现了Shiro内部lifecycle函数的bean执行 -->
	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>
	
	<!-- AOP式方法级权限检查  -->
	<bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" depends-on="lifecycleBeanPostProcessor">
		<property name="proxyTargetClass" value="true" />
	</bean>
	<bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
    		<property name="securityManager" ref="securityManager"/>
	</bean>
</beans>